@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Roboto' !important;
}

body {
    background-color: #899db6;
}

a{
    font-size: 90%;
}

a:link, a:visited {
    text-decoration: none;
    color: rgb(32, 154, 191);
}

a:hover {
    text-decoration: underline;
}

#tentacles {
    width: 50px;
}

.header-text{
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    display: flex;
    background-color: #b8c7dc;
    box-shadow: 5px 5px 20px rgba(43, 43, 43, 0.262);
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -7px;
    margin-top: -10px;
}

.title{
    font-size: 350%;
    text-align: center;
    margin-bottom: -1px;
}

.game-progress, .game-backers{
    font-size: 80%;
    font-weight: bold;
}

.game-desc{
    padding-bottom: 10%;   
}

.game-title{
    font-size: 80%;
    font-weight: bold;
}

.stats-container {
    display: flex;
    align-items: flex;
}

#description-container h3, #description-container div{
    text-align: center;
}

.stats-card {
    background-color: #b8c7dc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
    box-shadow: 5px 5px 20px rgba(43, 43, 43, 0.262);
}

h1.our-games{
    text-align: center;
    font-size: 220%;
}

h3.our-games{
    text-align: center;
    font-size: 120%;
}

.top-game-title {
    font-size: 150%;
    font-weight: bold;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 20px #FFFFFF;
}

.game-card {
    background-color: #b8c7dc;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
    opacity: 0;
    visibility: collapse;
    box-shadow: 5px 5px 20px rgba(43, 43, 43, 0.262);
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.list-element{
    transform-origin: 50% 50%;
	animation: append-animate .3s linear;
    opacity: 1;
    visibility: visible;
}

@keyframes append-animate {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

#button-container {
    text-align: center;
}

.selected-button{
    background-color: lightblue;
}

#search{
    cursor: text;
}

#sort-select{
    cursor: pointer;
}

button:disabled{
    box-shadow: none;
}

button, select, option, #search{
    font-family: 'Roboto';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    box-shadow: 5px 5px 20px rgba(43, 43, 43, 0.262);
}

button:hover:enabled{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

button:active:enabled{
    cursor: pointer;
    box-shadow: 0 0 30px rgb(135, 168, 179);
    background-color: rgb(209, 209, 209);
}
